node_modules/
.cache
_site
.env
package-lock.json
*.swp
*.gz

# temporary, until I find a way to better organize them, so that I wouldn't be
# committing so many all at once:
img/*.jpeg
img/*.jpg
video/*.mp4
database/tweet.db
